In [18]:
# File para almacenar funciones que utilizaremos en el TOG
# Para AED:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

def dqr(data):
    # List of database variables
    cols = pd.DataFrame(list(data.columns.values),
                           columns=['Names'],
                           index=list(data.columns.values))
    # List of data types
    dtyp = pd.DataFrame(data.dtypes,columns=['Type'])
    # List of missing data
    misval = pd.DataFrame(data.isnull().sum(),
                                  columns=['Missing_values'])
    # List of present data
    presval = pd.DataFrame(data.count(),
                                  columns=['Present_values'])
    # List of unique values
    unival = pd.DataFrame(columns=['Unique_values'])
    # List of min values
    minval = pd.DataFrame(columns=['Min_value'])
    # List of max values
    maxval = pd.DataFrame(columns=['Max_value'])
    for col in list(data.columns.values):
        unival.loc[col] = [data[col].nunique()]
        try:
            minval.loc[col] = [data[col].min()]
            maxval.loc[col] = [data[col].max()]
        except:
            pass
    
    # Join the tables and return the result
    return cols.join(dtyp).join(misval).join(presval).join(unival).join(minval).join(maxval)

#data = pd.read_pickle('C:/Users/rafae/OneDrive/Documentos/GitHub/TOG/data/fourth_down_data_preprocessed.pkl')
data_row = pd.read_pickle('C:/Users/rafae/OneDrive/Documentos/GitHub/TOG/data/fourth_down_data.pkl')

In [19]:
categorical_variables = ['posteam_type', 'game_half', 'play_location', 'play_subtype']
numerical_variables = ['yardline_100', 'half_seconds_remaining', 'ydstogo', 'ydsnet', 'score_differential']
binary_variables = ['goal_to_go', 'shotgun', 'no_huddle', 'qb_dropback']
target_variable = 'fourth_down_converted'

In [20]:
# Encode categorical variables
encoder = OneHotEncoder(sparse_output=False)
encoded_data = encoder.fit_transform(data_row[categorical_variables])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_variables))
data1 = data_row.drop(categorical_variables, axis=1).reset_index(drop=True)
data2 = pd.concat([data1, encoded_df], axis=1)

In [21]:
print('encoded df shape: ', encoded_df.shape)
encoded_df.head(3)

encoded df shape:  (2764, 13)

,posteam_type_away,posteam_type_home,game_half_Half1,game_half_Half2,game_half_Overtime,play_location_left,play_location_middle,play_location_right,play_subtype_Pass: deep,play_subtype_Pass: short,play_subtype_Run: end,play_subtype_Run: guard,play_subtype_Run: tackle
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [22]:
print('encoded df shape: ', data1.shape)
data1.head(3)

encoded df shape:  (2764, 12)

,yardline_100,half_seconds_remaining,goal_to_go,ydstogo,ydsnet,play_type,shotgun,no_huddle,qb_dropback,score_differential,fourth_down_converted,yardline_group
0,20.0,565.0,0,5.0,66.0,pass,1.0,0.0,1.0,-28.0,Converted,20-29
1,23.0,87.0,0,2.0,71.0,pass,1.0,1.0,1.0,-22.0,Converted,20-29
2,3.0,570.0,1,3.0,42.0,pass,1.0,0.0,1.0,42.0,Converted,0-9

In [23]:
print('encoded df shape: ', data2.shape)
data2.head(3)

encoded df shape:  (2764, 25)

,yardline_100,half_seconds_remaining,goal_to_go,ydstogo,ydsnet,play_type,shotgun,no_huddle,qb_dropback,score_differential,...,game_half_Half2,game_half_Overtime,play_location_left,play_location_middle,play_location_right,play_subtype_Pass: deep,play_subtype_Pass: short,play_subtype_Run: end,play_subtype_Run: guard,play_subtype_Run: tackle
0,20.0,565.0,0,5.0,66.0,pass,1.0,0.0,1.0,-28.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,23.0,87.0,0,2.0,71.0,pass,1.0,1.0,1.0,-22.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3.0,570.0,1,3.0,42.0,pass,1.0,0.0,1.0,42.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0